on:
  pull_request:

name: Verify

jobs:
  check-android:
    if: false # not needed for now
    runs-on: ubuntu-latest
    name: Tests / Android
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: chmod +x gradlew
      - run: ./gradlew assembleDebug
      - name: Enable KVM
        # enable KVM for faster emulator
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Run instrumentation tests
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 36
          target: default
          emulator-boot-timeout: 300
          arch: x86_64
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          script: ./gradlew connectedAndroidTest

  lint:
    runs-on: ubuntu-latest
    name: Linting
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: chmod +x gradlew
      - run: ./gradlew ktlintCheck nglintCheck

  test:
    strategy:
      matrix:
        os: [ubuntu] # , windows, macos ]
    runs-on: ${{ matrix.os }}-latest
    name: Tests / ${{ matrix.os == 'ubuntu' && 'Ubuntu' || matrix.os == 'windows' && 'Windows' || matrix.os == 'macos' && 'macOs' }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: corretto
        java-version: 21
    - run: chmod +x gradlew
    - uses: gradle/actions/setup-gradle@v4
    - name: Run tests
      run: ./gradlew allTests

  dockerBuild:
    runs-on: ubuntu-latest
    name: Docker Buildx Build test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
      - run: chmod +x gradlew
      - uses: gradle/actions/setup-gradle@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Start local registry
        run: docker run -d -p 5000:5000 --name registry registry:2
      - name: Run tests
        run: ./gradlew dockerBuildxPushMainToTest

  publication:
    if: false # not needed for now
    strategy:
      matrix:
        os: [ ubuntu, windows, macos ]
    runs-on: ${{ matrix.os }}-latest
    name: Publishing / ${{ matrix.os == 'ubuntu' && 'Ubuntu' || matrix.os == 'windows' && 'Windows' || matrix.os == 'macos' && 'macOs' }}
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/setup-gradle@v4
      - run: chmod +x gradlew
      - uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21
      - run: ./gradlew publishAllPublicationsToTestRepository --stacktrace